/* Error: expected "{".
 *     ,
 * 231 | >>>>>>> Stashed changes
 *     |                        ^
 *     '
 *   public\assets\scss\panel\components\sidebar.scss 231:24  @import
 *   public\assets\scss\panel\_components.scss 4:9            @import
 *   public\assets\scss\panel\style.scss 14:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 231 \2502  >>>>>>> Stashed changes\a     \2502                         ^\a     \2575 \a   public\\assets\\scss\\panel\\components\\sidebar.scss 231:24  @import\a   public\\assets\\scss\\panel\\_components.scss 4:9            @import\a   public\\assets\\scss\\panel\\style.scss 14:9                 root stylesheet';
}
