.navbar {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    transition: all .2s linear;
    z-index: 1020;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;

    @media screen and (min-width: $screen-sm){
        & {
            --sidebar-width: #{$sidebar-lg};
            width: calc(100% - var(--sidebar-width));

            &.expanded {
                width: 100%;
            }
        }
    }

    .navbar-left{
        margin-left: 1rem;
    }

    #btn-show-sidebar-nav {
        background-color: transparent;
        border:unset;
        font-size: 20px;
    }

    .nav-dropdown {
        display: inline-block;

        .nav-dropdown-btn {
            display: flex;
            align-items: center;
            gap: .6rem;
            border: 0;
            background-color: transparent;
            border-radius: 20px;
            padding: .3rem .5rem;

            .nav-dropdown-img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 100%;
                }
            }

            .nav-dropdown-title {
                color: #fff;
                padding-right: .5rem;
                // display: none;
            }
        }
        #roles{
            text-align: left;
            font-size: 14px;
        }

        .nav-dropdown-content {
            min-width: 200px;
            background-color: #FFF;
            // border-radius: 0 0 10px 10px;
            box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 100%;
            right: 10px;
            display: none;
            transition: all .2s linear;

            .nav-dropdown-menu {
                list-style: none;
                padding: 0;
                margin: 0;
                padding: .6rem 0;
                padding-top: .8rem;

                .nav-dropdown-item {
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 0 .6rem;

                    .nav-dropdown-item-link {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        background-color: #fff;
                        border-radius: 5px;
                        padding: .40rem .5rem;
                        font-weight: 500;
                        font-size: 16px;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.053);
                            color: $primary;}
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                }

            }
        }
    }
}
