
.sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    // left: -100%;
    background-color: #fff;
    z-index: 1024;
    transition: left .3s linear;
    -webkit-transition: left .3s linear;
    -moz-transition: left .3s linear;
    -ms-transition: left .3s linear;
    -o-transition: left .3s linear;

    @media screen and (min-width: $screen-sm) {
        & {
            max-width: $sidebar-lg;
        }
    }

    @media screen and (min-width: $screen-lg) {
        & {
            box-shadow: 3px 0px 9px 1px rgb(220 220 220 / 50%);
        }
    }
    &.mobile{
        left: -100%;
    }

    &.expanded {
        left: 0;
        max-width: $sidebar-lg;

        // #btn-show-sidebar {
        //     margin-left: calc(($sidebar-lg - 150px) /4);
        // }
    }

    &.coll{
        max-width: $sidebar-coll;

        button {
            padding: 0 1rem 0;
        }

        .segitiga, .footer, .logo, .sub-menu-link span, .item-link span{
            display: none;
        }

        .sidebar-menu {
            li:not(.sidebar-menu-item), .sidebar-menu-item .sub-menu {
                padding-left: 0;
            }
                .sub-menu-item {
                    text-align: center;
                }
        }
    }

    .sidebar-brand {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .8rem 1rem;

        img {
            width: 150px;
        }

        @media screen and (min-width: $screen-sm) {
            & {
                width: 100%;
                padding: 1rem;
            }
        }
    }
    #btn-show-sidebar {
        background-color: transparent;
        border:unset;
        font-size: 20px;
    }

    .footer{
        position: sticky;
        padding: 15px;
        bottom: 0;
        background-color: white;
        width: $sidebar-lg;
        h6{
            text-align: left;
            font-family: sans-serif;
            font-size: 12px;
        }
    }

    .segitiga{
        .triangle, .triangles{
            position: static;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 40px solid #007DFF;
        }
        .triangle {
            bottom: 120px;
            margin-left: 185px;
            margin-top: 2.5em;
        }

        .triangles{
            bottom: 60px;
            margin-top: 15px;
            margin-left: 185px;
        }
    }


    .btn-close-sidebar {
        position: absolute;
        top: 10px;
        right: 10px;
        border: 0;
        background-color: rgba($secondary,.8);
        color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 50%;
        font-size: 19px;

        @media screen and (min-width: $screen-lg){
            & {
                display: none;
            }
        }
    }

    .sidebar-menu-content {
        // overflow-y: auto;
        max-height: 99vh;
        margin-top: 15px;
    }

    .sidebar-menu {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        user-select: none;

        li:not(.sidebar-menu-item) {
            font-size: 18px;
            color: #a1a1a1;
            margin-bottom: 8px;
            padding-left: 1.5rem;

            @media screen and (min-width: $screen-sm) {
                & {
                    font-size: 16px;
                }
            }
        }

        .sidebar-menu-item {
            margin-bottom: 8px;
            padding: 0 1rem;

            .item-link {
                color: #686868;
                background-color: #fff;
                border-radius: 10px;
                transition: all .2s linear;
                font-size: 16px;
                display: flex;
                align-items: center;
                gap: .5rem;
                -webkit-transition: all .2s linear;
                -moz-transition: all .2s linear;
                -ms-transition: all .2s linear;
                -o-transition: all .2s linear;

                @media screen and (min-width: $screen-sm) {
                    & {
                        padding: .5rem .8rem;
                    }
                }

                .link-icon {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    background-color: rgba($primary,.2);
                    color: $primary;

                    &::after {
                        color: $primary;
                    }

                }
            }

            &.active {
                .item-link {
                    background-color: $primary;
                    color: $white;
                }

                .sub-menu {
                    height: auto;
                    animation: .3s fadeIn linear;
                    -webkit-animation: .3s fadeIn linear;
                }
            }

            .sub-menu {
                width: 100%;
                position: relative;
                padding-left: 1rem;
                height: 0;
                overflow: hidden;
                transition: all .3s ease-in-out;

                .sub-menu-content {
                    margin: 0;
                    padding: 0;
                    padding-top: .5rem;
                    list-style: none;

                    .sub-menu-item {
                        margin: 0 auto 8px;

                        &:hover {
                            background-color: rgba($primary,.2);
                            color: $primary;
                            border-radius: .5em;
                            -webkit-border-radius: .5em;
                            -moz-border-radius: .5em;
                            -ms-border-radius: .5em;
                            -o-border-radius: .5em;
                        }

                        .sub-menu-link {
                            transition: all .2s linear;
                            display: block;
                            color: #686868;
                            -webkit-transition: all .2s linear;
                            -moz-transition: all .2s linear;
                            -ms-transition: all .2s linear;
                            -o-transition: all .2s linear;
                        }
                        &.active {
                            background-color: rgba($primary,.2);
                            border-radius: .5em;
                            -webkit-border-radius: .5em;
                            -moz-border-radius: .5em;
                            -ms-border-radius: .5em;
                            -o-border-radius: .5em;

                            .sub-menu-link {
                                color: $primary;
                            }
                            &:hover{
                                .sub-menu-link{
                                    color: #686868;
                                }
                            }
                        }
                    }
                }
            }

            &.dropdown {
                .item-link {
                    position: relative;
                    padding: .5rem 1rem;
                    &::after {
                        content: '\f106';
                        font-weight: 900;
                        font-family: $font-family-icon;
                        display: block;
                        font-size: 12px;
                        color: #ccc;
                        transition: all .3s linear;
                        margin-left: auto;
                        transform: rotate(180deg);
                        // position: absolute;
                        // right: 1rem;
                        // top: 50%;
                        // transform: translateY(-50%);
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transition: all .3s linear;
                        -moz-transition: all .3s linear;
                        -ms-transition: all .3s linear;
                        -o-transition: all .3s linear;
                    }
                }

                &.active {
                    .item-link {
                        &::after {
                            transform: rotate(0deg);
                        }
                    }
                }
            }

        }

        .devider{
            &::before{
                content: "";
                width: 4px;
                height: 2.8em;
                background-color: $secondary;
                position:absolute;
                left: 0;
                visibility: hidden;
            }
            &:hover:before{
                visibility: visible;
            }
            &.active::before{
                visibility: visible;
            }
            &.dropdown:hover:before{
                visibility: visible;
            }
            .sub-devider::before{
                visibility: hidden;
            }
        }
    }
}
