
a {
    text-decoration: none;
}

.btn {
    border-radius: 0;

    &.btn-primary {
        color: #fff;


    }

    &.btn-secondary{
        color: #fff;
        
        &.bg-opt-20{
            background-color: rgba($secondary, 20%);
            border-color: rgba($secondary, 20%);
            color: $secondary;
        }

    }
}